@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
    font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Poppins", sans-serif;
}
.main{
    height: 100%;
    width: 100%;
}
.container{
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}
.logo{
    height: 8rem;
    width: 8rem;
}
.logo a img{
    height: 100%;
    width:  100%;
}

.navbar{
    display: flex;
    font-size: 2rem;
    gap: 3rem;
    align-items: center;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: black;
}
.navbar li a:active{
    color: rgb(236, 21, 21);
}
.navbar li a:hover{
    color: rgb(21, 157, 236);
}


.navbar i{
    /* opacity: 0; */
    display: none;
}



/* hero */
.hero{
    height: 87%;
    width: 100%;
    background:  linear-gradient(45deg ,rgb(171, 223, 210),rgb(116, 151, 232));
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    
}
.content{
    height: 50%;
    width: 40%;
    margin: 10rem 0 0 10rem;
    padding: 5rem;
}
.content h3{
    font-size: 1.7rem;
    margin: 2rem 0 2rem 0;
}
.content h3:hover{
    color: rgb(70, 66, 66);
}
.content h3:nth-child(1){
    font-size: 2rem;
    color: rgb(128, 122, 122);
}
.content h3:nth-child(1):hover{
    font-size: 2rem;
    color: rgb(111, 69, 69);
}
.content p{
    padding-top: 1rem;
    font-size: 1.5rem;
}
.content button{
    height: 4rem;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    margin-top: 4rem;
    background-color: rgba(0, 27, 199, 0.775);
    color: #fff;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}
.content button:hover{
    background-color: rgb(25, 11, 151);
}
.dummy-img{
    height: 50rem;
    width: 45rem;
    padding: 5rem;
    margin: 5rem 10rem 0 0 ;
}
.dummy-img:hover{
    height: 52rem;
    width: 46rem;
    transition: all ease-in-out 2s;
    margin: 4rem 9rem 0 0 ;
}
.dummy-img img{
    height: 100%;
    width: 100%;
}
.custom-shape-divider-bottom-1742387002 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1742387002 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.custom-shape-divider-bottom-1742387002 .shape-fill {
    fill: #ffffff;
}



.hero2{
    height: 100%;
    width: 100%;
}

@media (max-width:390px){
    .navbar i{
        /* opacity: 0; */
        display: initial;
    }
    .navbar ul{
       width: 100%;
       flex-direction: column;
    }
    



}